@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@tailwind components;
@tailwind utilities;
@tailwind base;

body {
  font-family: 'Ubuntu', sans-serif;
  color:#006a71;
  background-color: #cbeaed;
}

.cursive{
  font-family: 'Dancing Script', cursive;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-name {
  font-size: 150px;
  color:#006a71;
  font-weight: bold;
}

.nav-header{
  background-color: #cbeaed;
  border-color: #48b5c0;
  border-width: 1.75px;
}

.lindsay {
  color:#48b5c0;
  font-size: 3rem;
  font-weight: 500;
}
.lindsay:hover{
  color: #006a71
}

.teal {
  color:#006a71;
  font-size: 1.5rem;
  letter-spacing: normal;
}

.navsubs{
  color: #48b5c0;
}

.navsubs:hover{
  color:#006a71;
}

.main-skills{
  background-color: #cbeaed;
}

.skillsh1{
  color: #006a71;
}

.skillsh2{
  color: #006a71
}

.skills-span{
  border-left-color: #006a71;
  border-left-width: 8px;
}

.skills-title {
  font-weight: 700;
  font-size: 1.125rem;
  background-color: #cbeaed;
  background: rgba(203,234,237, 0.5);
  padding: 4px;
}

.about-box{
  background-color:#cbeaed;
}



